body {
    background-color: rgb(218, 221, 226);
    width: 50%;
    margin: 10px;
    

}

#main-box {
    border: ridge;
    position:absolute;
    padding: 20px;
    left: 300px;
    right: 300px;
    margin: 0px;
    background-color: white;
}

h1 {
    color :red;
    background-color: blue;
    text-align: center;
}
#first-picture {
    
    width: 200px;
    float: right;
    margin: 0px 20px 0px 20px;

    

}

td {
    border: groove;

}
